body {
    padding: 0px;
    margin: 0px;
    background-color:#EADAC3 ;
    background-size: cover;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

.map {
    position: relative;
    background-color: #101010;
    padding-left: 30%;
    padding-right: 42.8%;
    padding-top: 45px;
    padding-bottom: 45px;
    align-content: center;
    margin-bottom: -8px;


}


#loc1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    box-shadow: inset -1px -1px 3px black;
    background-color:aliceblue;
    align-items: center;
    padding: 80px;
    text-align: justify;
    margin: 0;
}


#loc2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    box-shadow: inset -1px -1px 3px black;
    background-color: aliceblue;
    align-items: center;
    padding: 80px;
    text-align: justify;
    margin: 0; }


.main {
    
    font-family: "Titan One";
    height: 100vh;
    max-width: 1100px;
    min-width: auto;
    margin: auto;
    background-color: #EADAC3;}

#rodape {
        margin-top: -2px;
        max-width: 1100px;
        background-color: #101010;
        text-align: center;
        color: #EADAC3;
    }

@media screen and (max-width:715px) {
    .map {
        padding-left: 0px;
    }
}

@media screen and (max-width:400px) {
    .map {
    width: 216px;
    padding-left: 20%;
    }
}
